# Compiled files
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# Entity Framework
Migrations/

# Rider
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Environment configs (atenção aqui)
appsettings.Development.json
appsettings.Production.json
appsettings.Local.json
appsettings.json